.logo {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-grow: 1;
  align-items: center;
  font-family: sans-serif;
  font-size: 16px;
  margin: 0 auto;
  width: 100%;
  background-image: linear-gradient(
    to bottom right,
    #f2f2f2,
    #fff
  ); /* Gradient background */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2), 0 10px 25px rgba(0, 0, 0, 0.1); /* Enhanced 3D shadow */
  border-radius: 10px; /* Rounder corners */
  padding: 15px; /* More padding */
  transform: skewX(-5deg); /* Subtle skew for 3D effect */
}

.rapid {
  color: #f55; /* Vibrant orange */
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1); /* Text shadow */
}

.retailer {
  color: #388e3c; /* Forest green */
  font-size: 1em;
  font-style: italic; /* Italic text */
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1); /* Text shadow */
}

.fa-rocket {
  font-size: 1.5em;
  margin: 0 10px;
  color: #f55; /* Match the orange color */
}
.footer {
  background-image: linear-gradient(
    to bottom right,
    #f2f2f2,
    #fff
  ); /* Gradient background */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2), 0 10px 25px rgba(0, 0, 0, 0.1); /* Enhanced 3D shadow */
  border-radius: 10px;
  text-align: center;
}
.footer-logo {
  margin-bottom: 20px;
}

.footer-logo img {
  width: 150px;
  height: auto;
}

/* Update headings within container with MUI Typography class */
.footer-links h4,
.footer-contact h4,
.footer-social h4 {
  margin-bottom: 10px;
  /* Use MUI's Typography component with variant and color prop */
  font-family: inherit; /* Inherit font family from container */
  font-size: 16px;
  font-weight: bold;
  color: #212529; /* Contrasting text color */
}

/* No styles needed for Container and Grid elements, they handle layout */

/* Update list styles directly on Link component */
.footer-links ul,
.footer-contact ul,
.footer-social ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li,
.footer-contact li,
.footer-social li {
  margin-bottom: 5px;
}

/* Apply styles directly to Link component, using MUI's styling api */
.footer-links a,
.footer-contact a,
.footer-social a {
  /* Use MUI's Link component styling API */
  text-decoration: none;
  color: inherit; /* Inherit color from parent */
  transition: color 0.2s ease-in-out;
}

.footer-links a:hover,
.footer-contact a:hover,
.footer-social a:hover {
  color: #000;
}

.footer-social i {
  font-size: 18px;
  margin-right: 5px;
  color: #6c757d; /* Neutral grey for icons */
}

.footer-copyright {
  background-color: #fefeef; /* Lighter shade for copyright section */
  padding: 10px;
  text-align: left;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
}
